/* Button styles */
.newButton { 
	box-shadow:inset 0px 1px 0px 0px #ffffff; 
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%); 
    background-color:#ffffff;  
    border-radius:6px; 
    border:1px solid #dcdcdc; display:inline-block; 
    cursor:pointer; color:#666666; 
    font-family: "Avenir Next"; 
    font-size:15px; 
    font-weight:bold; 
    padding:6px 10px; 
    text-decoration:none; 
    text-shadow:0px 1px 0px #ffffff; 
    margin-left:1%;
} 

.newButton:hover { 
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);  
	background-color:#f6f6f6; 
} 

.newButton:active { position:relative; top:1px; }

.removeButton {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	margin-left:1%;
}

.removeButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}

.removeButton:active {
	position:relative;
	top:1px;
}

/* Input styles */
.newInput {
	border-radius:5px;
	width: 75%;
	padding:5px;
	font-size:3vmin;
	font-family: "Avenir Next";
}

/* display field */
#display {
	font-family: "Avenir Next";
	font-size:3vmin;
}